.game
{
  background-color: #333;
  border: 10px outset #ccc;
}

.game > .board
{
  border-right: 10px outset #ccc;
}

.info
{
  color: #efefef;
  line-height: 1.2em;
}

.info fieldset
{
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.info span.highlight
{
  color: rgb(35, 134, 247);
}

.info .board
{
  height: 110px;
}

.square
{
  width: 15px;
  height: 15px;
  border: 10px outset; 
  
  background-color: #333;

  float: left;
}

.square.empty
{
  border: 10px outset transparent;
}

.clear
{
  clear: both;
}
